version: "3.8"

services:
  backend:
    build: ./backend
    container_name: student-backend
    ports:
      - "5000:5000"

  frontend:
    build: ./frontend/student
    container_name: student-frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
